@import "../valo/valo.scss";

@mixin maintheme {
  @include valo;
  font-family: Roboto, sans-serif;

  .v-header-layout {
    background-color: hsl(214, 27%, 26%);
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;

    .v-button {
      background: rgba(61, 146, 255, 0.1);
      font-size: 14px;
      color: hsl(214, 13%, 97%);
      height: 30px;
      text-align: center;
      text-transform: uppercase;
      outline: none;
      border: none;
    }

    .v-button:hover {
      background-color: rgba(61, 146, 255, 0.5);
    }

    .v-button:after {
      content: none;
    }
  }

  .link-button {
    background-color: rgba(61, 146, 255, 0.5);
    &:hover {
      color: #3d92ff;
      text-decoration: underline;
    }
  }

  .main-layout {
    margin: 0;
    height: 100%;
    background: yellow;
    background-size: auto auto;
    font-size: 16px;
    font-weight: bold;
    color: red;
  }

  .view-layout {
    background-color: hsl(214, 13%, 97%);
  }

  .modal-window {

    .v-window-outerheader {
      background-color: hsl(214, 27%, 26%);
      margin-left: -10px;
    }

    .v-window-header {
      color: hsl(214, 13%, 97%);
      font-weight: bold;
    }

    .v-window-contents {
      background-color: hsla(214, 13%, 97%, 0.21);
    }

    .v-window-closebox {
      background-color: hsla(214, 13%, 97%, 0.06);
    }

    .v-caption {
      color: hsla(214, 8%, 7%, 0.81);
      font-size: 105%;
    }

    .v-textfield {
      color: hsla(214, 8%, 7%, 0.81);
      background-color: hsla(214, 13%, 97%, 0.41);
    }

    .v-filterselect-input {
      color: hsla(214, 8%, 7%, 0.81);
    }

    .v-button {
      color: hsl(214, 13%, 97%);
    }

    .v-button-caption {
      color: hsla(214, 8%, 7%, 0.81);
      font-size: 105%;
    }
  }

  .v-panel {
    .v-textfield {
      color: rgba(61, 146, 255, 0.5);
    }

    .v-button {
      color: rgba(61, 146, 255, 0.5);
    }
  }
  .v-panel-caption {
    background: hsla(214, 13%, 97%, 0.31);
    font-size: 14px;
    color: hsl(214, 13%, 97%);
    text-transform: uppercase;
  }

  .v-table-header-wrap {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: hsl(214, 27%, 26%);
  }
  .v-table-caption-container {
    font-size: 14px;
    color: hsl(214, 13%, 97%);
    text-transform: uppercase;
  }
}